body,html,ul,li,h1,h2,h3,dl,dt,dd,p{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
a{
    text-decoration: none;
    
}

section:nth-of-type(1){
    width: 1200px;
    height: 100px;
    background: #fdfdfd;
}
section:nth-of-type(2){
    padding-left: 150px;
    width: 1200px;
    height: 790px;
    background: #fdfdfd;
    div:nth-of-type(1){
        width: 1180px;
        height: 50px;
        border: 1px solid #CECECE;
        line-height: 50px;
        padding-left: 20px;
        a{
            color: #000000;
            font-size: 13px;
            margin-left: 10px;
            &:hover{
                color: #A51B1B;
            }
        }
        a:nth-of-type(2){
            color:red;
        }
    }
    div:nth-of-type(2){
        width: 1180px;
        height: 50px;
        border: 1px solid #CECECE;
        line-height: 50px;
        padding-left: 20px;
        a{
            color: #000000;
            font-size: 13px;
            margin-left: 10px;
        }
        a:nth-of-type(1){
            color:red;
        }
    }
    div:nth-of-type(3){
        width: 1200px;
        height: 450px;
        margin-top: 50px;
        dl{
            width: 250px;
            height: 448px;
            border: 1px solid #cecece;
            float: left;
            margin-left: 20px;
            img{
                width: 200px;
                height: 200px;
                margin-left: 25px;
                margin-top: 50px;
            }
            span{
                width: 200px;
                height: 30px;
                display: block;
                
            }
            span:nth-child(1){
                padding-left: 50px;
                margin-top: 50px;
                
            }
            span:nth-child(2){
                padding-left: 100px;
                margin-top: 20px;
                color: red;
            }
            dd:nth-of-type(2){
                margin-top: 28px;
                width:250px;
                height: 40px;
               
                a{
                    width: 120px;
                    height: 40px;
                    display: block;
                    float: left;
                    text-align: center;
                    line-height: 40px;
                    color: red;
                    &:hover{
                        color: #fff;
                        background: #A51B1B;
                    }
                }
                p{
                    width: 120px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    float: left;
                }
            }
        }
        
    }
}
